.Form{
    margin-left: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
/* .Label { */
    
    /* justify-content: space-between; */
/* } */
.Input {
    width: 100%;
    height: 30px;
}
.Button {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid yellowgreen;
    border-radius: 50%;
    background-color: green;
    color: yellowgreen;
    font-weight: 900;
    font-size: 16px ;       
}
.Text {
    color: green;
    font-weight: 500;
    font-size: 20px;
}