.ContactList {
    width: 500px ;
    /* border: 1px solid red; */
}
.ContactList__element {
    display: flex;
    height: 80px;
    justify-content: space-between;

}
.Button__element {
    width: 100px;
        height: 50px;
        /* margin-left: auto;
        margin-right: auto; */
        border: 5px solid yellow;
        border-radius: 50%;
        background-color: red;
        color: gold;
        font-weight: 900;
        font-size: 16px;
}
.Text {
    color: green;
    font-weight: 500;
    font-size: 20px;
}